@model IEnumerable<MicroERP.BLL.Models.EmployeeUpdateModel>
@{
    ViewBag.Title = "职位变动总览";
}
<body class="bg-light">
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index">管理中心</a>
                </li>
                <li class="breadcrumb-item">人事信息管理</li>
                <li class="breadcrumb-item active">人力资源更新记录</li>
            </ol>
        </div>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    人力资源更新记录
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateFrom)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateInto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateInformation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateByID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateBy)
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateFrom)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateInto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateInformation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateByID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateBy)
                                    </th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateFrom)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateInto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateInformation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateByID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateBy)
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Code by JiYuHan</div>
            </div>
        </div>
    </div>
</body>