@model MicroERP.Model.ViewUserAsEmployee
<body class="bg-light">
    <div id="content-wrapper">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index">管理中心</a>
                    </li>
                    <li class="breadcrumb-item">人事信息管理</li>
                    <li class="breadcrumb-item active">员工人力资源信息更新</li>
                </ol>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-3 mb-3">
                    @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md mb-3">
                        @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control", @value = @Model.UserID, @disabled = "disabled" } })
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md mb-3">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @value = @Model.UserName, @disabled = "disabled" } })
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    @Html.LabelFor(model => model.UserStatus, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md mb-3">
                        @Html.DropDownListFor(model => model.UserStatus, ViewBag.selListSta as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            

            <div class="form-group">
                @Html.LabelFor(model => model.UserDepartment, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserDepartment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserDepartment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserPosition, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserPosition, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserPosition, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserSalary, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserSalary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserSalary, "", new { @class = "text-danger" })
                </div>
            </div>

            
            <div class="form-group">
                <label class="control-label col-md-2">备注信息：</label>
                <div class="col-md-10">
                    <input name="Note" id="Note" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</body>