@model IEnumerable<MicroERP.BLL.Models.ViolationListModel>

@{
    ViewBag.Title = "违规记录统计";
}
<body class="bg-light">
    <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index">管理中心</a>
                </li>
                <li class="breadcrumb-item">人事信息管理</li>
                <li class="breadcrumb-item active">违规记录统计</li>
            </ol>
        </div>
        <div class="container-fluid">
            <div class="btn-group btn-group-toggle  btn-block" data-toggle="buttons">
                <label id="RecordCheck" class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> 记录总览
                </label>
                <label id="NewRecord" class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> 新增记录
                </label>
            </div>
            <hr />
            <div id="RecordPart" class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        违规记录总览
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width='100%' cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RecordID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RecordDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReferID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReferName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ViolateFor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FundsPunish)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ManagerID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ManagerName)
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RecordID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RecordDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReferID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReferName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ViolateFor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FundsPunish)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ManagerID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ManagerName)
                                        </th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(model => item.RecordID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.RecordDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.ReferID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.ReferName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.ViolateFor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.FundsPunish)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.ManagerID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.ManagerName)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Code by JiYuHan</div>
                </div>
            </div>
            <div id="NewPart" style="display:none" class="container-fluid">
                <div id="ConnectError" style="display:none" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>创建完成</strong>
                    <hr>
                    <p>
                        该条记录已登记完毕。
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div id="ConnectError" style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>提交失败</strong>
                    <hr>
                    <p>
                        遇到网络问题，请检查服务器或网络连接。
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="ReferID"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">被执行人编号</font></font></label>
                            <input type="text" class="form-control" id="ReferID" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="ReferName"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">被执行人姓名</font></font></label>
                            <input type="text" class="form-control" id="ReferName" placeholder="" value="" required="" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="Reason"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">处罚原因</font></font></label>
                            <input type="text" class="form-control" id="Reason" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="FundsPunish"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">罚款金额</font></font></label>
                            <input type="text" class="form-control" id="FundsPunish" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="RecordDate"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">记录时间</font></font></label>
                            <input type="text" class="form-control" id="RecordDate" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="container">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md">
                                <input type="submit" value="提交记录" class="btn btn-primary btn-lg btn-block" />
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</body>
<script>
    function SubmitViolation() {
        $.ajax({
            type: 'POST',
            url: "/System/HR/CreateViolation",
            data: {},
            success: function (data) {
                $('#RecordPart').html(data);
                $('#NewPart').html();//TODO:实现局部页面刷新 
            },
            error: function () {
                $('#ConnectError').show();
            }
        })
    }
    $(function () {
        //输入框的值改变时触发
        $("#ReferID").on("input", function (e) {
            //获取input输入的值
            console.log(e.delegateTarget.value);
            $.ajax({
                type: 'POST',
                url: "/System/HR/GetUserName",
                data: {id:e.delegateTarget.value},
                success: function (data) {
                    $('#ReferName').val = data;
                },
                error: function () {
                    $('#ConnectError').show();
                }
            })
        });
    });
    $(function() { 
        $("#RecordCheck").click(function(){
            $("#NewPart").hide();
            $("#RecordPart").show();
        });
    });
    $(function() { 
        $("#NewRecord").click(function(){
            $("#RecordPart").hide();
            $("#NewPart").show();
        });
    });
</script>