@model MicroERP.Model.InfoGoodsOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InfoGoodsOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Funds.FundsState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funds.FundsState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodsConfirm.ConfirmType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsConfirm.ConfirmType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RejectedOrder.RejectState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RejectedOrder.RejectState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodsQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodsTarget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsTarget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodsUnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsUnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleNote)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
