@model IEnumerable<MicroERP.Model.InfoGoodsOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Funds.FundsState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodsConfirm.ConfirmType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RejectedOrder.RejectState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodsQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodsTarget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodsUnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleNote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Funds.FundsState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodsConfirm.ConfirmType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RejectedOrder.RejectState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodsQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodsTarget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodsUnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleNote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
